.header{
  background: gold;
}

.header_block{
  margin: 20px;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.header_logo{
  margin: 5px;
  letter-spacing:3px;
	font-weight: 800;
	font-size: 18px;
	cursor: pointer;
}

.small_header_logo{
  margin: 7px;
  letter-spacing:2px;
	font-size: 12px;
}
.js_string{
  margin: 5px;
  letter-spacing:10px;
  font-size: 18px;
}
