.Posts{

}

.Post{
  position: relative;
  display: grid;
  grid-template-areas:
  "p nm";
  grid-template-columns: 50px 1fr;
  padding: 10px;
  border: 1px solid rgb(133, 94, 63) ;
  margin: 10px;
  text-align: left;
}

.photo img{
  grid-area: p;
  border: 3px solid orange;
  border-radius: 23px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.NameMessage{
  grid-area: nm;
  display: grid;
  grid-template-areas:
  "n"
  "m";
  grid-template-rows: 25px 25px;
}

.Name{
  grid-area: n;
  padding: 3px;
}

.Messages{
  grid-area: m;
  padding: 3px;
}
