a {
  color: rgb(255, 255, 255);
  font-weight: 550;
  font-size: 12px;
}

a:hover {
  font-weight: 600;
}

.navigation {
  grid-area: n;
  background-color: rgb(121, 184, 58);
}

.linksArroy {
  padding: 6px;
  margin-left: 0px;
  text-align: left;
  font-size: 12px;
}
