.App{
  display: grid;
  grid-template-areas:
  "h h"
  "n b"
  "f f";
  grid-template-rows: 90px 1fr 60px;
  grid-template-columns: 155px 1fr;
  grid-gap: 10px;
  font-family: Comfortaa;
}

.header{
  grid-area: h;
}

.navigation{
    grid-area: n;
}

.footer{
  grid-area: f;

}

.body{
  grid-area: b;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
